$bg-color:#FCFCFC;
$gray-1:#BDBDC1;
$gray-2:#67686A;
$gray-3:#F2F2F2;
$gray-4:#898B8E;
$gray-5:#939393;
$salmon:#F26B6E;
$font-1: "Roboto";
$font-2: "Archivo";
$font-3: "Vourla";
$weight-1: Medium;